
.featured-styling {
    border-radius: 10px;
    color: black;
    padding: 7px;
}

.featured-text {
    float: left;
    margin-top: 8px;
    width: 100%;
    text-align: center;
    border-top: 1px solid #dddddd !important;
    padding-top: 5px;
}

.review-title {
    font-size: 23px;
    color: #0985cb;
    font-weight: bold;
    margin-top: 11px;
    display: block;
}

.rating > span:before {
    content: "\2605";
    position: absolute;
    color:red;
}
.rating {
    float: right;
    font-size: 22px;
    color: red;
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 20px;
}



.rating-title {
    color: black;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}


.rating-text {
    font-size: 12px;
    text-align: center;
    color: black;
}

.review-image {
    height: 220px;
    width: 100%;
    border-radius: 100%;
    background-position: initial;
    background-repeat: no-repeat;
    background-size: 50%;
    border: 1px solid #ddd;
    border-radius:6px;
    background-position: center;
    margin-bottom: 20px;
}

.review-table {
    width: 100%;
}

.review-table td {
    padding-top:10px;
}
.features-header {
    font-weight: bold;
}
.features-list li {
    margin-top: 10px;
}


#all_select {

    border-left:  1px solid #ddd;

}
.mixitup-control-active {
    background:red;
}
#filters {
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#filters li {
    display: table-cell;
}

#filters ul {

    display: table;
    table-layout: fixed;
    width: 100%;
}


#filters li span {
    display: block;
    padding: 5px 20px;
    text-decoration: none;
    color: #666;
    cursor: pointer;
    padding: 10px 25px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

#filters li span.active {
    background: #e95a44;
    color:#fff;
}

#filters {
        display: table !important;
       table-layout: fixed !important;
       width: 100% !important;
}

#filters li{
    display: table-cell !important;
}


#reviewlist p {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
}


#reviewlist .review {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    width: 100%;
    display: none;
    float: left;
    overflow: hidden;
    border: 1px solid #ddd;
    margin-bottom: 30px;
}

.portfolio-wrapper {
    overflow:hidden;
    position: relative !important;
    background: #666;
    cursor:pointer;
}


.review .label {
    position: absolute;
    width: 100%;
    height:40px;
    bottom:-40px;
    -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:         all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.review .label-bg {
    background: #e95a44;
    width: 100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
}

.review .label-text {
    color:#fff;
    position: relative;
    z-index:500;
    padding:5px 8px;
}

.review .text-category {
    display:block;
    font-size:9px;
}

.review:hover .label {
    bottom:0;
}
.review:hover img {
    top:-30px;
}  
.featured-item {
    min-height: 50px;
    position: relative;
    background: #e02928;
    color: white;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    font-family: "ProximaNova-Extrabld",arial,verdana,sans-serif;
    line-height: 16px;
    word-break: break-word;
    font-weight: bold;
    text-align: center;
}
.guides-image {
    height: 250px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid #cccaliceblue;
    background-position: center center;
}


.lSSlideOuter {
    margin-bottom: 30px;
}

.guides-thumb-image {
    height: 40px;
    width: 40px;
    background-size: contain !important;
    background-repeat: no-repeat;
    background-size: 100%!important;
    background-position: center center;
}

#image-gallery {
    border-bottom:1px solid #ccc;
}

.lSSlideOuter {
    border:1px solid #ccc;
}

thead {
    background: #263238;
    color: white;
}
thead th {
    border: none !important;
}
#image-gallery {
    height:200px !important;
}

.features-list li{
    float: left;
    clear: left;
    display: list-item !important;
    list-style: inside !important;
   list-style-type: disc !important;
}

.features-list ul {
    display: list-item !important;
    list-style: inside !important;
   list-style-type: disc !important;
}

.features-list ol, ul {
    padding: 0px;
}

strong {
    color:#E95A44;
    font-size:18px;
}
.bottom-content ol, ul {
    margin-left: 15px;
}

.features-list {
    margin-left: 0px;
}

p {
    margin: 0 0 10px;
    width: 100%;
    clear: both;
}

@media screen and (max-width: 550px) {
    .table-image-amazon {
        max-width:120px;
    } 
    .top-10 td {
    font-size: 12px;
}

.top-10 td:first-child {
    width: 5%;
}
.top-10 td:last-child {
    width: 20%;
}

}