html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.navbar-default .navbar-nav > li.dropdown:hover > a, 
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: #F5F8FA;
    color: rgb(85, 85, 85);
}
li.dropdown:hover > .dropdown-menu {
    display: block;
}

.spacer {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    float: left;
    width: 100%;
}

.navbar-default {
    background: white none repeat scroll 0 0 !important;
    -webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
    -moz-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
    box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);

}

#menu {
    float: right;
}

.header-bar {
    margin-right: -15px;
    margin-left: -15px;
    padding: 15px 0px 15px 0px;
}

.guides-list {
    list-style: none;
    padding: 0px;
    border-bottom: 1px solid #e7e7e7;
    padding: 13px;
    color: black;
}

.footer-background {
    background: rgb(40, 45, 48);
    color:white;
}

.footer-text {
    color: #c6c6c6;
}
.footer-title {
    font-size: 17px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.footer-section {
    margin-top: 50px;
    margin-bottom: 50px;
}
.footer li {
    list-style: none;

}
.footer {
    margin: 0px;
    padding: 0px;
}


.footer a {
    color:white;
}
.footer-background-second {
    background:rgb(37, 40, 42);
}

.footer-section-second {
    text-align: center;
    color: white;
    font-size: 12px !important;
    margin-top: 30px;
    margin-bottom: 20px;
}
.footer-title-second {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

@media screen and (max-width: 550px) {
    .logo {
        width:100%;
    } 
    #filters li span {
    display: block;
    padding: 5px 20px;
    text-decoration: none;
    color: #666;
    cursor: pointer;
    padding: 10px 25px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    font-size: 12px;
    min-height: 72px;
    font-weight: bold;
    vertical-align: middle !important;
}
}